@import 'styles/breakpoints';

.component {
	color: var(--wpe--header--color);
	background-color: var(--wpe--header--background-color);
	position: relative;
	z-index: 2; // Pull dropdown menus to the foreground to sit above <Main />.
}

.navbar {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 3rem 0;
	gap: 1rem;
}

.brand {
	font-weight: var(--wpe--font-weight--bold);
	font-size: 1.6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	text-decoration: none;
}

.description {
	margin: .3rem 0 0 0;
	font-size: 0.8rem;
	opacity: 0.9;
}

.nav-toggle {
	align-items: center;
	background-color: transparent;
	color: var(--wpe--color--black);
	cursor: pointer;
	display: flex;
	margin: 0;
	transition: all 0.2s ease-in;
	user-select: none;
	font-size: 18px;
	margin-left: 30px;
	&:hover,
	&:focus {
		color: var(--wpe--color--black);
	}

	@media (min-width: $breakpoint-medium) {
		display: none !important;
	}
}

.primary-navigation {
	display: none;
	width: 100%;

	&.show {
		display: block;
		background-color: black;
		position: absolute;
		left: 0;
		top: 142px;
		ul {
			flex-direction: column;
			padding-bottom: 30px;
		}

	}

	@media (min-width: $breakpoint-medium) {
		display: block;
		width: auto;

	}
}
