// Base styles
@import url('https://fonts.cdnfonts.com/css/poppins');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	// font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-family: 'Poppins', sans-serif;
	font-weight: var(--wpe--font-weight--medium);
	font-size: 1rem;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	background-color: var(--wpe--code--background-color);
	color: var(--wpe--code--color);
	padding: 0.25rem 0.5rem;
	border-radius: 4px;
	white-space: nowrap;
	margin: 0 0 1rem;
	display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 1rem;
}

p {
	margin: 0 0 1rem;
	line-height: 1.8;
}

a {
	color: var(--link-color);
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

::-moz-selection {
	color: var(--wpe--color--white);
	background-color: var(--wpe--color--accent);
}

::selection {
	color: var(--wpe--color--white);
	background-color: var(--wpe--color--accent);
}
.app-shadow {
	box-shadow: 0px 8px 60px 0px rgba(0, 0, 0, 0.15);
}

.antd-black-placeholder {
	input {
		&::placeholder {
			color: black !important;
		}
	}
}

.ant-breadcrumb .anticon {
	font-size: unset;
}
.ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
	display: none;
}
.mask {
	position: relative;
	&::after {
		content: '';
		background: rgba(0, 0, 0, 0.6);
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
	}
}
.main-container {
	width: 100%;
	max-width: 1512px;
	margin-inline: auto;
}